<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>AdScientia.org</title>
  <meta content="text/html; charset=UTF-8" />

  <link rel="icon" href="{{MEDIA_URL}}images/favicon.ico" type="image/x-icon" />
  <link href="{{MEDIA_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
  <link href="{{MEDIA_URL}}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" media="all" />
  <link href="{{MEDIA_URL}}css/application.css" rel="stylesheet" type="text/css" media="all" />
  <style type="text/css">body { padding-top: 60px; }</style>
  <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body>
{% block main %}{% endblock main %}
</body>
</html>
































