{% extends "base/base.html" %}

{% block main %}
{% include "base/header.html" %}

<div class="container">
  <div class="row">
    <div class="span12">
      <h1>About AdScientia.org</h1>

      <h2>Open-source scientific degree programmes available to everybody</h2>

      <p><strong>AdScientia's goal is to provide top-tier undergraduate and postgraduate 
	level scientific degree resources to anybody who has the desire to learn.</strong></p>

      <p>Our aim is to make our content, our software and our process free to use and open
	to improvement. We achieve this without biases or sacrifices in content quality.</p>

    </div>
  </div>
</div>

{% endblock main %}  

