{% extends "base/base.html" %}

{% block main %}
{% include "base/header.html" %}

<div class="container">
  <div class="row">
    <div class="span3">
      <div class="well sidebar-nav">
	<ul class="nav nav-list">
          <li class="nav-header">Overview</li>
          <li class="active"><a href="">Introduction</a></li>
        </ul>
      </div>
    </div>

    <div class="span8">
      <h1>Analysis I</h1>
      <h2>Introduction to Real Analysis</h2>

    </div>
  </div>
</div>
{% endblock main %}
    
