<ul class="nav nav-list">
  <li class="nav-header">Analysis I</li>
  <li{% ifequal chapter "introduction" %} class="active"{% endifequal %}><a href="{% url courses_course "mathematics", "analysis_i" %}">Introduction</a></li>
  <li{% ifequal chapter "inequalities" %} class="active"{% endifequal %}><a href="{% url courses_course_chapter "mathematics", "analysis_i", "inequalities" %}">Inequalities</a></li>
  <li><a href="">Sequences</a></li>
  <li><a href="">Completeness</a></li>
  <li><a href="">Series</a></li>
  <li><a href="{% url courses_course_chapter "mathematics", "analysis_i", "further_reading" %}">Further Reading</a></li>
</ul>
