{% extends "base/base.html" %}

{% block main %}
{% include "base/header.html" %}

<div class="container">
  <div class="row">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Overview</li>
          <li class="active"><a href="">Introduction</a></li>
          <li><a href="">Course Plan</a></li>
          <li class="nav-header">Year 1</li>
	  <li><a href="">Cell Biology I</a></li>
	  <li><a href="">Biological Chemistry</a></li>
	  <li><a href="">Biophysical Chemistry</a></li>
	  <li><a href="">Organic Chemistry</a></li>
	  <li><a href="">Mathematics for Biochemists</a></li>
          <li class="nav-header">Year 2</li>
	  <li><a href="">Macromolecules</a></li>
	  <li><a href="">Metabolic Processes</a></li>
	  <li><a href="">Genetics</a></li>
	  <li><a href="">Cell Biology II</a></li>
	  <li><a href="">Data Analysis</a></li>
	  <li class="nav-header">Year 3</li>
	  <li><a href="">Bionanotechnology</a></li>
	  <li><a href="">Cancer Biology</a></li>
	  <li><a href="">Clinical and Applied Immunology</a></li>
	  <li><a href="">Membrane transport</a></li>
	  <li><a href="">Neuropharmacology</a></li>
	  <li><a href="">Signalling and Coordination in Plants</a></li>
	  <li><a href="">Structural Proteomics</a></li>
	  <li><a href="">Virology</a></li>
	</ul>
      </div>
    </div>

    <div class="span8">
      <h1>Biochemistry</h1>
      <h2>Three Year Undergraduate Degree Programme - BSc</h2>

    </div>
  </div>
</div>




{% endblock main %}
