{% extends "base/base.html" %}

{% block main %}
{% include "base/header.html" %}

<div class="container">
  <div class="row">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
	  <li class="nav-header">Overview</li>
	  <li class="active"><a href="">Introduction</a></li>
          <li class="nav-header">Year 1</li>
	  <li><a href="">Algebra I</a></li>
	  <li><a href="">Analysis I</a></li>
	  <li><a href="">Analysis II</a></li>
	  <li><a href="">Classical Mechanics I</a></li>
	  <li><a href="">Differential Equations I</a></li>
	  <li><a href="">Foundations</a></li>
          <li><a href="">Geometry I</a></li>
	  <li><a href="">Linear Algebra I</a></li>
	  <li><a href="">Probability I</a></li>
          <li class="nav-header">Year 2</li>
	  <li><a href="">Algebra II</a></li>
          <li><a href="">Analysis III</a></li>
	  <li><a href="">Classical Mechanics II</a></li>
	  <li><a href="">Combinatorics</a></li>
	  <li><a href="">Differential Equations II</a></li>
	  <li><a href="">Geometry II</a></li>
          <li><a href="">Linear Algebra II</a></li>
	  <li><a href="">Metric Spaces</a></li>
	  <li><a href="">Number Theory</a></li>
	  <li><a href="">Partial Differential Equations I</a></li>
	  <li><a href="">Probability II</a></li>
	  <li><a href="">Statistics I</a></li>
	  <li><a href="">Vector Analysis I</a></li>
	  <li><a href="">Vector Analysis II</a></li>
          <li class="nav-header">Year 3</li>
	  <li><a href="">Classical Mechanics III</a></li>
	  <li><a href="">Complex Analysis</a></li>
          <li><a href="">Continuum Mechanics</a></li>
	  <li><a href="">Differential Equations III</a></li>
	  <li><a href="">Differential Geometry</a></li>
	  <li><a href="">Fluid Dynamics</a></li>
          <li><a href="">Fractal Geometry</a></li>
          <li><a href="">Galois Theory</a></li>
	  <li><a href="">Groups I</a></li>
	  <li><a href="">Knot Theory</a></li>
	  <li><a href="">Linear Functional Analysis</a></li>
	  <li><a href="">Measure Theory</a></li>
          <li><a href="">Numerical Analysis</a></li>
	  <li><a href="">Partial Differential Equations II</a></li>
          <li><a href="">Rings and Modules I</a></li>
	  <li><a href="">Set Theory</a></li>
          <li><a href="">Statistics II</a></li>
	  <li><a href="">Topology </a></li>
	  <li class="nav-header">Year 4</li>
	  <li><a href="">Algebraic Geometry</a></li>
	  <li><a href="">Algebraic Topology</a></li>
	  <li><a href="">Computational PDE</a></li>
	  <li><a href="">Distribution Theory</a></li>
	  <li><a href="">Dynamical Systems</a></li>
	  <li><a href="">Elliptic Curves</a></li>
	  <li><a href="">Ergodic Theory</a></li>
	  <li><a href="">Fourier Analysis</a></li>
	  <li><a href="">Groups II</a></li>
	  <li><a href="">Hyperbolic Geometry</a></li>
	  <li><a href="">Lie Groups</a></li>
	  <li><a href="">Manifolds</a></li>
	  <li><a href="">Partial Differential Equations III</a></li>
	  <li><a href="">Quantum Dynamics</a></li>
	  <li><a href="">Riemann Surfaces</a></li>
	  <li><a href="">Rings and Modules II</a></li>
	  <li><a href="">Stochastic Analysis</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>




{% endblock main %}
