{% extends "base/base.html" %}

{% block main %}
{% include "base/header.html" %}

<div class="container">
  <div class="row">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
	  <li class="nav-header">Overview</li>
	  <li class="active"><a href="{% url degrees_degree "mathematics" %}">Introduction</a></li>
	  <li>Course Outlines</li>
	  <li>Degree Programme</li>
          <li class="nav-header">Year 1</li>
	  <li>Algebra I</li>
	  <li><a href="{% url courses_course "mathematics", "analysis_i" %}">Analysis I</a></li>
	  <li>Analysis II</li>
	  <li>Classical Mechanics I</li>
	  <li>Differential Equations I</li>
	  <li>Foundations of Mathematics</li>
          <li>Geometry I</li>
	  <li>Linear Algebra I</li>
	  <li>Probability I</li>
          <li class="nav-header">Year 2</li>
	  <li>Algebra II</li>
          <li>Analysis III</li>
	  <li>Classical Mechanics II</li>
	  <li>Combinatorics</li>
	  <li>Differential Equations II</li>
	  <li>Geometry II</li>
          <li>Linear Algebra II</li>
	  <li>Metric Spaces</li>
	  <li>Number Theory</li>
	  <li>Partial Differential Equations I</li>
	  <li>Probability II</li>
	  <li>Statistics I</li>
	  <li><a href="{% url courses_course "mathematics", "vector_analysis_i" %}">Vector Analysis I</a></li>
	  <li>Vector Analysis II</li>
          <li class="nav-header">Year 3</li>
	  <li>Classical Mechanics III</li>
	  <li>Complex Analysis</li>
          <li>Continuum Mechanics</li>
	  <li>Differential Equations III</li>
	  <li>Differential Geometry</li>
	  <li>Fluid Dynamics</li>
          <li>Fractal Geometry</li>
          <li>Galois Theory</li>
	  <li>Groups I</li>
	  <li>Knot Theory</li>
	  <li>Linear Functional Analysis</li>
	  <li>Measure Theory</li>
          <li>Numerical Analysis</li>
	  <li>Numerical Linear Algebra</li>
	  <li>Partial Differential Equations II</li>
          <li>Rings and Modules I</li>
	  <li>Set Theory</li>
          <li>Statistics II</li>
	  <li>Topology </li>
	  <li class="nav-header">Year 4</li>
	  <li>Algebraic Geometry</li>
	  <li>Algebraic Topology</li>
	  <li>Distribution Theory</li>
	  <li>Dynamical Systems</li>
	  <li>Elliptic Curves</li>
	  <li>Ergodic Theory</li>
	  <li>Fourier Analysis</li>
	  <li>Groups II</li>
	  <li>Hyperbolic Geometry</li>
	  <li>Lie Groups</li>
	  <li>Manifolds</li>
	  <li>Numerical PDE</li>
	  <li>Partial Differential Equations III</li>
	  <li>Quantum Dynamics</li>
	  <li>Riemann Surfaces</li>
	  <li>Rings and Modules II</li>
	  <li>Stochastic Analysis</li>
        </ul>
      </div>
    </div>

    <div class="span8">
      <ul class="breadcrumb">
        <li>
          <a href="{% url home_home %}">Home</a> <span class="divider">/</span>
        </li>
	<li class="active">Mathematics</li>
      </ul>
      
      <h1>Mathematics</h1>
      <h2>Four Year Undergraduate Degree Programme - MSc/MMath</h2>
      <p>
	Mathematics, as a subject, concerns itself with the abstract concepts of Quantity, Structure, Shape and Change<sup><a href="http://en.wikipedia.org/wiki/Mathematics">[1]</a></sup>.
	The AdScientia Mathematics degree course provides resources equivalent to a top-tier masters level education in these topics. 
      </p> 

      <h3>Year 1</h3>

      <p>
	The course begins in Year 1 with a set of introductory topics around these subjects. Foundations of Mathematics introduces you to some basic
	concepts, such as sets of numbers, maps between these sets and notation to help simplify their expression and relation. It will form the basis for the rest
	of the degree programme. Algebra I, Analysis I, Geometry and Linear Algebra I will provide a
	deep overview of the concepts of symmetry, groups, set theory, sequences & series, limits, linear transformations/matrices and vector spaces; basic tools
	necessary for further study.
      </p>

      <p>
	Differential Equations I, Classicial Mechanics I and Probability I are three application areas that make use
	of the theoretical content studied in the aforementioned modules.
      </p>

      <h3>Year 2</h3>

      <p>
	In Year 2 the real analytical concepts introduced in Analysis I and Analysis II are extended to multi-dimensional spaces
	in <a href="{% url courses_course "mathematics", "vector_analysis_i" %}">Vector Analysis I</a> and Vector Analysis II. In Metric Spaces more abstract settings which involve a 
	notion of distance will be explored. Analysis III will put Riemann integration on a firmer footing.
      </p>

      <p>
	On the algebraic side Algebra II and Linear Algebra II will introduce matrix decomposition, as well as further explore
	groups. Rings and modules will also briefly be touched upon. Geometry II will introduce projective geometry and more abstract
	geometrical entities.
      </p>

      <p>
	There are plenty of applied options in Year 2. Differential Equations II, Classicial Mechanics II and Probability II
	continue where the respective Year 1 courses left off. Combinatorics and Number Theory are two more theoretical applications involving
	quantity as a concept. Partial Differential Equations I and Statistics I offer two more applied courses which lead onto deeper areas
	of mathematics.
      </p>

      <h3>Year 3</h3>
      
      <p>In Year 3 deeper analytical, algebraic, geometric and applied modules are available.</p>

      <p>
	The core courses for further studies of analysis include 
	Complex Analysis, which concerns itself with analytical concepts such as convergence and continuity, on the 
	complex plane; Linear Functional Analysis, which explores vector spaces in an infinite-dimensional setting;
	Measure Theory, which introduces alternative methods of characterising the size of sets as well as methods
	of integrating functions that do not permit a Riemann integral; and finally Numerical Analysis which 
	provides a framework for quantifying error growth in certain approximation situations.</p>

      <p>
	On the algebraic path courses include Galois Theory, which provides a connection between fieds and groups;
	Groups I, which delves deeper into group concepts beyond those elucidated in Algebra II;
	Rings and Modules I, which introduces the algebraic structure known as a ring; Set Theory,
	which outlines the axiomatic framework of mathematical sets on a more fundamental level.
      </p>

      <p>
	The core geometry courses include Differential Geometry, which explains concepts concerning curves and
	surfaces in $\mathbb{R}^3$; Fractal Geometry, which studies fractals - geometric entities which may
	possess non-integral dimension; Knot Theory, a course which discusses mathematical knots, or topological
	braids; Topology, an introduction to more abstract spaces, that have no notion of distance, but where
	continuity can still be discussed.
      </p>

      <p>
	The set of applied courses include continuations via Classical Mechanics III, Differential Equations III,
	Partial Differential Equations II and Statistics II. Continuum Mechanics and 
	Fluid Dynamics both attempt to formulate mathematical models for solids, liquids and gases under certain types of stress
	and strain, being highly relevant in the fields of Physics and Engineering.
      </p>

      <h3>Year 4</h3>
      
      <p>
	By the start of Year 4, many core algebraic, analytical and geometric concepts will be understood. The courses in this year are
	designed to provide a deep investigation of certain areas of each of these strands of mathematics.
      </p>
      
      <p>
	
      </p>

    </div>
  </div>
</div>




{% endblock main %}
