{% extends "base/base.html" %}

{% block main %}
{% include "base/header.html" %}

<div class="container">
  <div class="row">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
	  <li class="nav-header">Overview</li>
	  <li class="active"><a href="">Introduction</a></li>
          <li class="nav-header">Year 1</li>
	  <li><a href="">Astronomy</a></li>
	  <li><a href="">Classical Mechanics I</a></li>
	  <li><a href="">Electronics</a></li>
	  <li><a href="">Electromagnetism I</a></li>
	  <li><a href="">Mathematics for Physicists I</a></li>
	  <li><a href="">Particle Physics I</a></li>
	  <li><a href="">Quantum Mechanics I</a></li>
	  <li><a href="">Special Relativity I</a></li>
	  <li><a href="">Thermodynamics I</a></li>
	  <li><a href="">Waves</a></li>
          <li class="nav-header">Year 2</li>
	  <li><a href="">Astrophysics I</a></li>
	  <li><a href="">Classical Mechanics II</a></li>
          <li><a href="">Electromagnetism II</a></li>
          <li><a href="">Fluid Dynamics I</a></li>
	  <li><a href="">Geophysics I</a></li>
          <li><a href="">Mathematics for Physicists II</a></li>
          <li><a href="">Quantum Mechanics II</a></li>
	  <li><a href="">Scientific Programming I</a></li>
          <li><a href="">Thermodynamics II</a></li>
          <li class="nav-header">Year 3</li>
	  <li><a href="">Astrophysics II</a></li>
	  <li><a href="">Cosmology I</a></li>
          <li><a href="">Electromagnetism III</a></li>
          <li><a href="">Fluid Dynamics II</a></li>
          <li><a href="">Mathematics for Physicists III</a></li>
	  <li><a href="">Non-linearity and Chaos</a></li>
	  <li><a href="">Magnetohydrodynamics I</a></li>
	  <li><a href="">Lasers and Optics</a></li>
	  <li><a href="">Particle Physics II</a></li>
          <li><a href="">Plasma Physics</a></li>
          <li><a href="">Quantum Mechanics III</a></li>
          <li><a href="">Scientific Programming II</a></li>
	  <li><a href="">Solid State Physics I</a></li>
	  <li><a href="">Solid State Physics II</a></li>
          <li><a href="">Statistical Physics I</a></li>
	  <li class="nav-header">Year 4</li>
	  <li><a href="">Astrophysics III</a></li>
          <li><a href="">Cosmology II</a></li>
          <li><a href="">Exoplanets</a></li>
          <li><a href="">Gauge Theories</a></li>
	  <li><a href="">General Relativity</a></li>
          <li><a href="">Magnetohydrodynamics II</a></li>
	  <li><a href="">Quantum Electrodynamics</a></li>
	  <li><a href="">Quantum Field Theory</a></li>
          <li><a href="">Scientific Programming III</a></li>
	  <li><a href="">Solar Physics</a></li>
	  <li><a href="">Solid State Physics III</a></li>
          <li><a href="">Special Relativity II</a></li>
	  <li><a href="">Statistical Physics II</a></li>
          <li><a href="">String Theory</a></li>
	  <li><a href="">The Standard Model</a></li>
	</ul>
      </div>
    </div>

    <div class="span8">
      <ul class="breadcrumb">
        <li>
          <a href="{% url home_home %}">Home</a> <span class="divider">/</span>
        </li>
        <li class="active">Physics</li>
      </ul>

      <h1>Physics</h1>
      <h2>Four Year Undergraduate Degree Programme - MSc/MPhys</h2>
      <p>
	Physics, as a subject, concerns itself with understanding the world around us. In particular, it attempts to produce models for 
	observed phenomena, which can then be used to make predictions that are subsequently tested to refine the models. The AdScientia 
	Physics degree course provides resources equivalent to a top-tier university masters level education.
      </p>

      <h3>Year 1</h3>
    </div>
  </div>
</div>




{% endblock main %}
