{% extends "base/base.html" %}

{% block main %}
{% include "base/header.html" %}

<div class="container">
  <div class="hero-unit">
    <h1>Open-source science courses</h1>
    <p>AdScientia's mission is to provide top-tier scientific education to as many people as possible. Our open-source, expert-edited textbooks provide the basis for self-study from undergraduate through to postgraduate level.</p>
    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
  </div>
  
  <div class="row">
    <div class="span4">
      <h2>Degree Programmes</h2>
      <ul>
	<li><a href="#">Mathematics</a></li>
      </ul>
    </div>
    <div class="span4">
      <h2>Recent Courses</h2>
      <ul>
	<li><a href="#">Vector Analysis</a></li>
      </ul>
    </div>
    <div class="span4">
      <h2>AdScientia</h2>
      <p>AdScientia was started by <a href="http://michaelhallsmoore.com">Michael Halls-Moore</a> in 2012. You can view the entire codebase (including all course materials) on the <a href="https://github.com/mhallsmoore/AdScientia">GitHub page</a>.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>
</div>




{% endblock main %}
